@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.splide__pagination__page {
    background-color: transparent;
    border: 1px #3375F1 solid;
}
.splide__pagination__page.is-active {
    background-color: #3375F1;
    border: 1px #3375F1 solid;
}